# Postgres variable
POSTGRES_USER=''
POSTGRES_PASSWORD=""
POSTGRES_DB=''
POSTGRES_PORT=0000
POSTGRES_HOST=''

# PgAdmin variable
PGADMIN_DEFAULT_EMAIL=''
PGADMIN_DEFAULT_PASSWORD=''
PGADMIN_PORT=0000

# Jwt Secret
JWT_SECRET=''